<table class="ui segment">

  <thead>

  <tr>
    <div class = "black column">
    <th>Code</th>
  </div>
    <th>Temp</th>
    <th>Wind Speed</th>
    <th>Wind Direction</th>
    <th>Pressure</th>
    <th></th>
    <th></th>
  </tr>


  </thead>
  <tbody>


  </tbody>

</table>