<table class="ui table">
  <thead>
    <tr>
      <th>Code</th>
      <th>Temp</th>
      <th>Wind Speed</th>
      <th>Temp</th>
      <th>Temp</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
      </td>
      <td>
      </td>
    </tr>
  </tbody>
</table>