{{> menu id="about"}}



<section class="ui center aligned middle aligned segment">
  <p>
    WeatherTop Inc. produce modular weather stations called the WeatherTop 1000. <br>

    A low cost device that takes sets of meteorological readings and displays them on
    a simple LCD display.
  </p>

  <img src="https://image.shutterstock.com/image-photo/photos-sky-during-different-weather-260nw-1899360634.jpg">
</section>