{{> welcomemenu }}

<section class="ui center aligned middle aligned segment">
  <h1 class="ui header">
    Welcome to WeatherTop
  </h1>
  <p>
    A Web companion application for WeatherTop Inc. to display meteorological readings
    <br>
    Please Signup or Login to avail of Weathertop using the menu above.
  </p>

  <img src="https://s9752.pcdn.co/wp-content/uploads/2019/05/WEATHERSHOTS-1-712x440.png">

</section>